$title-color: #FFFFFF;
$title-background-color: #29313C;
$tab-background-color: #CCCCCC;
$margins: 0px;
$radius: 5px;

html {
  background: url('../img/track.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin:40px;
  padding:0;
  font-size:12px;
  font-family:verdana, Arial, Helvetica, sans-serif;
}

header {
  padding: 10px;
  color: $title-color;
  background-color:$title-background-color;
}

header h1 {
  margin-left: $margins;
  margin-top: 0;
  margin-bottom: 0;
  font-size:32px;
  font-weight: normal;
}

header h2 {
  margin-left: $margins;
  margin-top: 0;
  font-size:12px;
  font-weight: normal;
}

.menus {
  margin-left:-50px;
  display: inline-block;
  position: fixed;
  top: 50%;
  padding: 10px;
}

.menunormal {
  border: 1px solid #FFFFFF;
}

.menuhover {
  border: 1px solid #0000FF;
}

.content p {
  margin-left: $margins;
  margin-right: $margins;
  padding: 10px;
}

footer, footer a {
  color:$title-color;
  background-color:$title-background-color;
}

footer {
  padding:5px 0;
}

footer p {
  margin:0;
  padding:0;
  text-align:center;
}

.paceCalculator {
  //display: inline-block;
  background-color:#CFCFCF;
  padding: 10px;
  margin-left: 20px;

  border-radius: $radius;
  width:350px;
  box-shadow: 10px 10px 5px #888888;
}

.paceCalculator input {
  margin-right: 10px;
}

.paceCalculator .result {
  color:#444444;
  background-color:#CCCCCC;
  border-radius: $radius;
  padding-left:5px;
}

.btn {
  margin-bottom: 10px;
  margin-top: 10px;
}


.calcDescribe {
  vertical-align: top;
  margin: 20px;
//  display: inline-block;
}


/* accordian */
.panel-group {
  margin-left: $margins;
  margin-right: $margins;
}

.panel-default .panel-heading {
  background-image: url('../img/track.jpg');
}

/*.panel-default .panel-heading {
  background-color: #245269;
  text-decoration:no-underline;
}*/

/* Tabs */
/*
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
}


.nav-tabs {
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
}


.tab-pane {
  display: inline-flex;
}
*/


