$title-color: #FFFFFF;
$title-background-color: #29313C;
$tab-background-color: #CCCCCC;
$margins: 0px;

body {
  margin:20px;
  padding:0;
  font-size:12px;
  font-family:verdana, Arial, Helvetica, sans-serif;
/*
  background-image: url('../img/track.jpg');
*/

}

header {
  padding: 10px;
  color: $title-color;
  background-color:$title-background-color;
  /*background-color:#009fe3;*/
}

header h1 {
  margin-left: $margins;
  margin-top: 0;
  margin-bottom: 0;
  font-size:32px;
  font-weight: normal;
}

header h2 {
  margin-left: $margins;
  margin-top: 0;
  font-size:12px;
  font-weight: normal;
}

.menus {
  display: inline-block;
  padding: 10px;
  color: #FFFFFF;
  background-color: #fbd802;
}

.content p {
  margin-left: $margins;
  margin-right: $margins;
}

footer, footer a {
  color:$title-color;
  background-color:$title-background-color;
}

footer {
  padding:5px 0;
}

footer p {
  margin:0;
  padding:0;
  text-align:center;
}

.paceCalculator {
  /*background-color:#8F8F8F;*/
  background-color:#8cc63e;
  padding: 10px;
  margin-left: $margins;
  border-radius:25px;
  width:350px;
}

.paceCalculator input {
  margin-right: 10px;
}

.paceCalculator .result {
  color:#444444;
  background-color:#CCCCCC;
  border-radius:25px;
  padding-left:5px;
}

/* accordian */
.panel-group {
  margin-left: $margins;
  margin-right: $margins;
}

.panel-default .panel-heading {
  background-image: url('../img/track.jpg');
/*
  background-color: $tab-background-color;
*/
}

/*.panel-default .panel-heading {
  background-color: #245269;
  text-decoration:no-underline;
}*/

/* Tabs */
/*
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
}


.nav-tabs {
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
}


.tab-pane {
  border: 1px solid #000000;
  background-color:#cccccc;
}*/


