<div class="content">
<p>{{content.paceCalcText1}}</p>

<div class="paceCalculator" ng-controller="paceCalc">
    <form ng-submit="calculatePace()">
        <input type="radio" ng-model="mileKm" value="km" checked>Km
        <input type="radio" ng-model="mileKm" value="mile">Mile<br/>
        Distance: <input size="3" maxlength="3" ng-model="distance"/><br/>
        Target Time:<br/>
        Hours: <input size="2" maxlength="2" ng-model="targetHours"/>
        Minutes: <input size="2" maxlength="2" ng-model="targetMins"/>
        Seconds: <input size="2" maxlength="2" ng-model="targetSecs"/><br/>
        <br/>
        <input type="submit" value="Calculate pace"/><br/>
        <br/>
        <div class="result">
        {{getPace()}} mins / {{mileKm}}
        </div>
    </form>
</div>

<p>{{content.paceCalcText2}}</p>

</div>