<div class="row content">
    <p>{{content.paceCalcText1}}</p>

    <!-- tabset>

        <tab heading="Vertical 1" ng-class="{new:tab.new}">
            <div class="tab-pane paceCalculator" ng-controller="paceCalc">
                <form ng-submit="calculatePace()">
                    <input type="radio" ng-model="mileKm" value="km" checked>Km
                    <input type="radio" ng-model="mileKm" value="mile">Mile<br/>
                    Distance: <input size="3" maxlength="3" ng-model="distance"/><br/>
                    Target Time:<br/>
                    Hours: <input size="2" maxlength="2" ng-model="targetHours"/>
                    Minutes: <input size="2" maxlength="2" ng-model="targetMins"/>
                    Seconds: <input size="2" maxlength="2" ng-model="targetSecs"/><br/>
                    <br/>
                    <input type="submit" value="Calculate pace"/><br/>
                    <br/>
                    <div class="result">
                        {{getPace()}} mins / {{mileKm}}
                    </div>
                </form>
            </div>

            <div class="tab-pane" >Vertical content 1</div>

        </tab>
        <tab heading="Vertical 2">
            <div class="tab-pane">Vertical content 2</div>
        </tab>

    </tabset -->

    <accordion ng-class="{ active: isOpen, closed: !isOpen }" close-others="false">
        <accordion-group ng-repeat="tool in content.tools" is-open="tool.open">
            <accordion-heading>
                {{tool.title}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': content.tools[$index].open, 'glyphicon-chevron-right': !content.tools[$index].open}"></i>
            </accordion-heading>
            <div ng-include="content.tools[$index].include"></div>
        </accordion-group>
    </accordion>


    <!-- p>{{content.paceCalcText2}}</p -->

</div>